<!DOCTYPE html>
<html lang="en">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>



    <div style='text-align: center'>

    <br>
    <img src='static/ENGAGE-Color-Tagline.png' width=300 />

    <div style='margin: auto; max-width: 300px'>

        <form action="{{ url_for('settings') }}" method="post">

            <br>

            <h4> Action for first phone</h4>
            <select class="browser-default custom-select custom-select-lg mb-3" name="phone_1_action" id="phone_1_action">
                  <option value="music" {% if phone_1_action == "music" %} selected="selected" {% endif %}>Music</option>
                  <option value="light" {% if phone_1_action == "light" %} selected="selected" {% endif %}>Light</option>
            </select>

            <h4> Action for second phone </h4>
            <select class="browser-default custom-select custom-select-lg mb-3" width='150px' name="phone_2_action" id="phone_2_action">
              <option value="music" {% if phone_2_action == "music" %} selected="selected" {% endif %}>Music</option>
              <option value="light" {% if phone_2_action == "light" %} selected="selected" {% endif %}>Light</option>
            </select>


            <input class="form-control" type="submit" value="Save"></input>

        </form>
    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>



</html>